:root {
    /* Font-families */
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: serif;

    /* Font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-750: 4.5rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-450: 1.5rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* Colors */
    --bg-primary: rgb(246, 247, 250);
    --bg-secondary: rgb(179, 179, 179);
    --clr-primary: rgb(73, 77, 198);
    --clr-secondary: rgb(129, 132, 237);
    --clr-accent: rgb(77, 82, 252);
    --font-light: rgb(16, 16, 19);
    --font-dark: rgb(236, 236, 239);
}

/* --------------------  */
/* Reset                 */
/* --------------------  */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
html,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* Utils classes */
.grid {
    display: grid;
}

.flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

.flex__centered {
    justify-content: center;
    align-content: center;
}

.hidden{
    display: none;
}

/* --------------------  */
/* Atoms                 */
/* --------------------  */

/* Submit Button */

/* Buttons */

.add__book__submit {
    width: fit-content;
    height: fit-content;
}

.add__book__button {
    height: 40px;
    width: 150px;
}

.add__book__button, .add__book__submit {
    padding: 12.5px 30px;
    margin: 20px;
    border: 0;
    border-radius: 100px;
    background-color: var(--clr-primary);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

    &:hover {
        background-color: var(--clr-secondary);
        box-shadow: 0 0 20px #6fc5ff50;
        transform: scale(1.1);
        cursor: pointer;
    }

    &:active {
        background-color: var(--clr-accent);
        transition: all 0.25s;
        -webkit-transition: all 0.25s;
        box-shadow: none;
        transform: scale(0.98);
    }
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    float: right;
    right: 20px;
    top: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/* Add Book Modal */
.modal__background {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Book Card */
.add__book__card {
    background-color: var(--bg-primary);
    border-radius: 10px;
    width: 360px;
    height: fit-content;
}

.add__book__content {
    gap: 10px;
    padding: 16px;
    align-items: center;
    justify-items: center;
    text-align: center;

    input {
        border-radius: 10px;
        border: 1px solid;
        width: 100%;
        height: 24px;
        margin: 4px 0px;
    }

    p {
        margin: 0px 0px 6px 0px;
    }

    .error {
        color: red;
        font-weight: bold;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: green;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px green;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}


/* Header */

header {
    background-color: var(--clr-primary);
    padding: 12px 0px;

    h1 {
        font-size: var(--fs-700);
        color: var(--font-dark);
    }
}

/* Books */

.books__container {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
    justify-items: center;
}

.book__card__container {
    background-color: var(--bg-secondary);
    padding: 8px 4px 8px 4px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    width: 240px;
    height: 240px;
}

.book__card__content {
    text-align: center;

    & p {
        font-size: large;
        font-weight: 500;
        margin: 15px 4px 0px 4px;
    }

    & p:first-of-type {
        font-size: larger;
        font-weight: bolder;
    }

    & button {
        margin: 16px 4px 8px 4px;
        border: none;
        width: 64px;
        height: 32px;
        border-radius: 100px;
    }

    & button:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.5s;
    }
}